<% include ../partials/head.ejs %>
<body>
    <% include ../partials/header.ejs %>
    <div class="main-container close-right-panel">
        <div class="left-panel">
            <h2 class="subtitle">Amis</h2>
            <div class="profile-list">
                <a class="profile-unit" href="/changeDisplayedUser?id=2">
                    <img class="profile-picture" src="/icons/man-with-short-hair-profile-avatar.svg"/>
                    <div class="profile-name">Sundar Pichai</div>
                </a>                
                <div class="profile-unit">
                    <img class="profile-picture" src="/icons/man-with-short-hair-profile-avatar.svg"/>
                    <div class="profile-name">Tim Cook</div>
                </div>
                <div class="profile-unit">
                    <img class="profile-picture" src="/icons/man-with-short-hair-profile-avatar.svg"/>
                    <div class="profile-name">George Bush</div>
                </div>
                <div class="profile-unit">
                    <img class="profile-picture" src="/icons/man-with-short-hair-profile-avatar.svg"/>
                    <div class="profile-name">Mickaël Jackson</div>
                </div>
            </div>
        </div>
        <div class="main-panel">
            <div class="wall-header">
                <div class="wall-picture">
                    <div class="usertags">
                        <div class="username_text"><%= displayedUser.nom + ' ' + displayedUser.prenom%></div>
                        <div class="userpseudo_text">@<%= displayedUser.login %></div>
                    </div>
                    <% if(displayedUser.id != user.id && !estAmi) { %>
                    <a class='invite-button' id='invite-button' data-sender="<%= user.id %>" data-recipient='<%= displayedUser.id %>'>Inviter</a>
                    <% } %> 
                      
                </div>
                <img src="" alt="" class="profile-picture big-picture">
                <nav class="wall-header__navigation">
                    <a href="" class="tab_link is_active" data-value='0'>Publications</a>
                    <a href="" class="tab_link" data-value='1'>Amis</a>
                    <a href="" class="tab_link" data-value='2'>A propos</a>
                    <% if (displayedUser.id === user.id){ %>
                    <a href="" class="tab_link" data-value='3'>Invitations</a>
                    <% } %>
                </nav>
            </div>
            <div id="main-partial-container">
                <% include ../partials/_publications_partial %>
            </div>
        </div>
        <div class="right-panel">
            <div id="new-publication" data-value="10">
                Nouvelle Publication
            </div>
            <a class="profile-unit my-wall-unit" href=<%="/changeDisplayedUser?id="+ user.id%>>
                <img class="profile-picture" src="/icons/man-with-short-hair-profile-avatar.svg"/>
                <div class="profile-name"><%= user.nom + ' ' + user.prenom %> </div>
            </a>
            <h2 class="subtitle">Nouvelles Invitations</h2>
            <div class="profile-list">
                <div class="profile-unit">
                    <img class="profile-picture" src="/icons/man-with-short-hair-profile-avatar.svg"/>
                    <div class="profile-name">Sundar Pichai</div>
                </div>                
                <div class="profile-unit">
                    <img class="profile-picture" src="/icons/man-with-short-hair-profile-avatar.svg"/>
                    <div class="profile-name">Tim Cook</div>
                </div>
                <div class="profile-unit">
                    <img class="profile-picture" src="/icons/man-with-short-hair-profile-avatar.svg"/>
                    <div class="profile-name">George Bush</div>
                </div>
                <div class="profile-unit">
                    <img class="profile-picture" src="/icons/man-with-short-hair-profile-avatar.svg"/>
                    <div class="profile-name">Mickaël Jackson</div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="/javascripts/dashboard_index.js"></script>
</body>
</html>

