<% include ../partials/head.ejs %>

<body>
    <% include ../partials/header.ejs %>
    <div class="main-container close-right-panel">
        <div class="left-panel">
            <h2 class="subtitle">Amis</h2>
            <div class="profile-list">
                <% if(arrayAmis){
                arrayAmis.forEach(ami => { %>
                <a class="profile-unit" href="/changeDisplayedUser?id=<%=ami.id%>">
                    <img class="profile-picture" src="/icons/man-with-short-hair-profile-avatar.svg" />
                    <div class="profile-name"><%= ami.nom + " " + ami.prenom %></div>
                </a>
                <% });} else { %>
                Pas d'amis
                <% } %>
            </div>
        </div>
        <div class="main-panel">
            <div class="wall-header">
                <div class="wall-picture">
                    <div class="usertags">
                        <div class="username_text"><%= displayedUser.prenom + ' ' + displayedUser.nom%></div>
                        <div class="userpseudo_text">@<%= displayedUser.login %></div>
                    </div>
                    <% if(displayedUser.id != user.id && !estAmi) { %>
                    <a  
                       <% if(!estDejaInvite){ %>id='invite-button' class='invite-button' 
                       <% } else { %> class='invite-button invited'   
                       <% } %>
                       data-sender="<%= user.id %>"
                           data-recipient='<%= displayedUser.id %>'>
                           <% if(!estDejaInvite){ %>
                              Inviter                     
                           <% } else { %> 
                              Invité
                           <% }%>
                        </a>
                    <% } %>

                </div>
                <img src="" alt="" class="profile-picture big-picture">
                <nav class="wall-header__navigation">
                    <a href="" class="tab_link is_active" data-value='0'>Publications</a>
                    <a href="" class="tab_link" data-value='1'>Amis</a>
                    <a href="" class="tab_link" data-value='2'>A propos</a>
                    <% if (displayedUser.id === user.id){ %>
                    <a href="" class="tab_link" data-value='3'>Invitations</a>
                    <% } %>
                </nav>
            </div>
            <div id="main-partial-container">
                <% include ../partials/_publications_partial %>
            </div>
        </div>
        <div class="right-panel">
            <div id="new-publication" data-value="10">
                Nouvelle Publication
            </div>
            <a class="profile-unit my-wall-unit" href=<%="/changeDisplayedUser?id="+ user.id%>>
                <img class="profile-picture" src="/icons/man-with-short-hair-profile-avatar.svg" />
                <div class="profile-name"><%= user.nom + ' ' + user.prenom %> </div>
            </a>
            <h2 class="subtitle">Découvrir des contacts</h2>
            <div class="profile-list">
                <% if(arraySuggestions){
                arraySuggestions.forEach(sugg => { %>
                <a class="profile-unit" href="/changeDisplayedUser?id=<%=sugg.id%>">
                    <img class="profile-picture" src="/icons/man-with-short-hair-profile-avatar.svg" />
                    <div class="profile-name"><%= sugg.prenom + " " + sugg.nom %></div>
                </a>
                <% });} else { %>
                  Pas de suggestion 
                <% } %>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="/javascripts/dashboard_index.js"></script>
</body>

</html>
