<div class="partial-wrapper partial-amis">
   <% if(user.id != displayedUser.id){ %>
      <h2 class="partial-title">Les amis de <%= displayedUser.prenom + ' ' + displayedUser.nom %></h2>
   <% } else { %>
      <h2 class="partial-title">Vos amis</h2>
   <% } %>

   <% if(!arrayAmis){%>
      Aucun ami
   <%} else { arrayAmis.forEach((ami) => { %>
      <div class="ami-unit">
         <img class="image"></img>
         <p class="nomPrenom"><%= ami.prenom + ' ' + ami.nom %></p>
         <p class="pseudo">@<%= ami.login %></p>
         <% if(ami.estAmiCourant){ %> 
            <p class="amiStatus amiStatus-Yes">Ami</p>
         <% } else if(ami.id === user.id) { %> 
            <p class="amiStatus amiStatus-You">Vous-Même</p>
         <% } else { %> 
            <% if(ami.estDejaInvite){ %> 
            <p class="amiStatus amiStatus-Invited">Invité</p>
            <% } else { %> 
               <a class="amiStatus amiStatus-NotInvited inviteButton" data-sender="<%= user.id %>" data-recipient="<%= ami.id %>">Inviter</a>
            <% } %>
         <% }%>
      </div>
      <%})%>
   <%}%>
</div>

<script>
   $(".inviteButton").click(function(event){
      $(event.target).unbind("click")
      $(event.target).text("Invité")
      $(event.target).addClass("amiStatus-Invited")
      $(event.target).removeClass("amiStatus-NotInvited")
      $.ajax({
         url: '/inviteUser',
         type: 'POST',
         data: {
            'sender': $(event.target).data('sender'), 
            'recipient': $(event.target).data('recipient')
         },
         success: function(){
            console.log("Invitation envoyée")
            refreshLeftPanel()
         }
      })
   })
</script>
