<div class="partial-wrapper partial-invitations">
   <h2 class="partial-title">Gérez vos Invitations</h2>
   <div class="sentInvitations">
      <h3>Invitations envoyées</h3>
      <% if (!sentInvitationList) {%>
         Aucune invitation envoyée
      <% } else { sentInvitationList.forEach((invitation) => { %>
         <div class="invitation-unit sent-invitation-unit">
            <p class="nomPrenom"><%= invitation.recipient.prenom + ' ' + invitation.recipient.nom%></p>
            <p class="pseudo">@<%= invitation.recipient.login %></p>
            <p class="status">Statut : <%= invitation.statusDesc %></p>
         </div>
      <% }) } %>
   </div>
   <div class="receivedInvitations">
      <h3>Invitations reçues</h3>
      <% if(!receivedInvitationList){%>         
         Aucune invitation recue
      <%} else { receivedInvitationList.forEach((invitation) =>{  %>
            <div class="invitation-unit received-invitation-unit">
               <p class="nomPrenom"><%= invitation.sender.prenom + ' ' + invitation.sender.nom %></p>
               <p class="pseudo">@<%= invitation.sender.login %></p>
               <div class="buttons">
                  <div class="btn btn-success btn-answer-invitation" 
                     data-sender='<%= invitation.sender.id %>'
                     data-status='1'
                     data-recipient ='<%= invitation.recipient.id %>'
                     data-invitationId='<%= invitation.id %>'
                     >
                     Accepter
                  </div>
                  <div class="btn btn-cancel btn-answer-invitation" 
                     data-sender='<%= invitation.sender.id %>'
                     data-status='2'
                     data-recipient ='<%= invitation.recipient.id %>'
                     data-invitationId='<%= invitation.id %>'
                     >
                     Refuser
                  </div>
               </div>
            </div>
            <% }) %>
         <% }%>
   </div>
</div>

<script>
   $('.btn-answer-invitation').click(function(event){
      $.ajax({
         url: '/answerInvitation',
         type: 'POST',
         data: {
            'sender': $(event.target).data('sender'),
            'recipient': $(event.target).data('recipient'),
            'invitationid': $(event.target).data('invitationid'),
            'reponse': $(event.target).data('status')
         },
         success: function(partial_html){
            $('#main-partial-container').html(partial_html)
            refreshLeftPanel()
         }
      })
   })
</script>
